# Scraping CAA data

This script should help you reach conclusions from the monthly CAA flight punctuality data. You should be able to determine average delays by airport and airline, as well as total flight delays for airline, airports and overall.

## TL:DR

1) Install everything needed <BR>
2) Concatenate all of the monthly datasheets together <BR>
3) Put everything into a dataframe <BR>
4) Read in a list of European airlines, for comparing against <BR>
5) Calculate the total number of flights delayed by more than 3 hours <BR>
6) Calculate totals of delays by year <BR>
7) Calculate the number of delays by reporting airport <BR>
8) Calculate the number of delays by airline <BR>
9) Calculate the number of flights by year for specific airports <BR>

## 1) Install everything needed

Install the packages required: glob (csv concat), pandas and numpy (for the df work), and matplot and plotly because I want to try them.

In [1]:
import glob
import pandas as pd
import numpy as np
import matplotlib as mpl
import plotly as plt

## 2) Concatenate all of the monthly datasheets together

Change the path to where all your files are and this will add them into a master list.

In [2]:
path =r'C:\users\ryan\projects\finalproject\data'
allFiles = glob.glob(path + "/*.csv")
frame = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)
master = pd.concat(list_)

## 3) Put everything into a dataframe

cells 1 and 2 in this section add the data into a df and add the correct columns, cell 3 prints. The first line resets the df (i imagine this isn't the correct way of doing things but works for me!)

In [3]:
df = master.copy()

In [4]:
df = df[["run_date", "reporting_airport", "origin_destination_country", "origin_destination", "airline_name", "number_flights_matched", "flts_181_to_360_mins_late_percent", "more_than_360_mins_late_percent"]]

In [5]:
df

,run_date,reporting_airport,origin_destination_country,origin_destination,airline_name,number_flights_matched,flts_181_to_360_mins_late_percent,more_than_360_mins_late_percent
0,13-Apr-2004 11:04,BIRMINGHAM,AUSTRIA,INNSBRUCK,FIRST CHOICE AIRWAYS LTD,10,0.000000,0.000000
1,13-Apr-2004 11:04,BIRMINGHAM,AUSTRIA,SALZBURG,BRITANNIA AIRWAYS,9,0.000000,0.000000
2,13-Apr-2004 11:04,BIRMINGHAM,AUSTRIA,SALZBURG,EUROPEAN AIR CHARTER,10,0.000000,0.000000
3,13-Apr-2004 11:04,BIRMINGHAM,AUSTRIA,SALZBURG,FIRST CHOICE AIRWAYS LTD,0,0.000000,0.000000
4,13-Apr-2004 11:04,BIRMINGHAM,AUSTRIA,SALZBURG,FLYBE.BRITISH EUROPEAN,61,3.278689,0.000000
5,13-Apr-2004 11:04,BIRMINGHAM,AUSTRIA,SALZBURG,THOMAS COOK AIRLINES LTD,10,0.000000,0.000000
6,13-Apr-2004 11:04,BIRMINGHAM,AUSTRIA,VIENNA,DUO AIRWAYS LTD,60,1.666667,0.000000
7,13-Apr-2004 11:04,BIRMINGHAM,BARBADOS,BRIDGETOWN,BRITANNIA AIRWAYS,4,0.000000,0.000000
8,13-Apr-2004 11:04,BIRMINGHAM,BELGIUM,ANTWERP,VLM (BELGIUM),0,0.000000,0.000000
9,13-Apr-2004 11:04,BIRMINGHAM,BELGIUM,BRUSSELS,FLYBE.BRITISH EUROPEAN,0,0.000000,0.000000
10,13-Apr-2004 11:04,BIRMINGHAM,BELGIUM,BRUSSELS,SN BRUSSELS AIRLINES,229,0.000000,0.000000
11,13-Apr-2004 11:04,BIRMINGHAM,BULGARIA,SOFIA,EUROPEAN AIR CHARTER,10,0.000000,0.000000
12,13-Apr-2004 11:04,BIRMINGHAM,CANADA,TORONTO,FIRST CHOICE AIRWAYS LTD,0,0.000000,0.000000
13,13-Apr-2004 11:04,BIRMINGHAM,CANADA,TORONTO,PAKISTAN INTL AIRLINES,26,3.846154,7.692308
14,13-Apr-2004 11:04,BIRMINGHAM,CHILE,SANTIAGO DE CHILE,BRITANNIA AIRWAYS,1,0.000000,0.000000
15,13-Apr-2004 11:04,BIRMINGHAM,CYPRUS,LARNACA,CYPRUS AIRWAYS,8,0.000000,0.000000
16,13-Apr-2004 11:04,BIRMINGHAM,CYPRUS,LARNACA,EUROCYPRIA AIRLINES LTD,2,100.000000,0.000000
17,13-Apr-2004 11:04,BIRMINGHAM,CYPRUS,PAPHOS,BRITANNIA AIRWAYS,7,0.000000,0.000000
18,13-Apr-2004 11:04,BIRMINGHAM,CYPRUS,PAPHOS,EUROCYPRIA AIRLINES LTD,2,0.000000,0.000000
19,13-Apr-2004 11:04,BIRMINGHAM,CYPRUS,PAPHOS,FIRST CHOICE AIRWAYS LTD,7,0.000000,0.000000
20,13-Apr-2004 11:04,BIRMINGHAM,CYPRUS,PAPHOS,HELIOS AIRWAYS LTD,0,0.000000,0.000000
21,13-Apr-2004 11:04,BIRMINGHAM,CYPRUS,PAPHOS,HELIOS AIRWAYS LTD,10,0.000000,0.000000
22,13-Apr-2004 11:04,BIRMINGHAM,CZECH REPUBLIC,PRAGUE,CSA,48,0.000000,0.000000
23,13-Apr-2004 11:04,BIRMINGHAM,DENMARK,COPENHAGEN,DUO AIRWAYS LTD,120,4.166667,0.000000
24,13-Apr-2004 11:04,BIRMINGHAM,DENMARK,COPENHAGEN,SAS,94,0.000000,0.000000
25,13-Apr-2004 11:04,BIRMINGHAM,FINLAND,HELSINKI,DUO AIRWAYS LTD,43,2.325581,0.000000
26,13-Apr-2004 11:04,BIRMINGHAM,FINLAND,KITTILA,EUROPEAN AIR CHARTER,7,0.000000,0.000000
27,13-Apr-2004 11:04,BIRMINGHAM,FINLAND,KITTILA,FUTURA AIRLINES,0,0.000000,0.000000
28,13-Apr-2004 11:04,BIRMINGHAM,FRANCE,BEAUVAIS,MY TRAVEL AIRWAYS UK,0,0.000000,0.000000
29,13-Apr-2004 11:04,BIRMINGHAM,FRANCE,BORDEAUX,DUO AIRWAYS LTD,0,0.000000,0.000000
...,...,...,...,...,...,...,...,...
3033,5/8/2017 4:19:59 PM,STANSTED,SPAIN(CANARY ISLANDS),TENERIFE (SURREINA SOFIA),THOMSON AIRWAYS LTD,18,0.000000,11.111111
3034,5/8/2017 4:19:59 PM,STANSTED,SWEDEN,GOTEBORG (LANDVETTER),RYANAIR,72,1.388889,0.000000
3035,5/8/2017 4:19:59 PM,STANSTED,SWEDEN,GOTEBORG (LANDVETTER),SAS,0,0.000000,0.000000
3036,5/8/2017 4:19:59 PM,STANSTED,SWEDEN,STOCKHOLM (SKAVSTA),RYANAIR,96,0.000000,0.000000
3037,5/8/2017 4:19:59 PM,STANSTED,SWEDEN,VASTERAS,RYANAIR,28,0.000000,0.000000
3038,5/8/2017 4:19:59 PM,STANSTED,SWITZERLAND,BALE MULHOUSE,RYANAIR,40,0.000000,0.000000
3039,5/8/2017 4:19:59 PM,STANSTED,SWITZERLAND,GENEVA,EASYJET AIRLINE COMPANY LTD,112,0.892857,0.000000
3040,5/8/2017 4:19:59 PM,STANSTED,SWITZERLAND,GENEVA,ENTER AIR,2,0.000000,0.000000
3041,5/8/2017 4:19:59 PM,STANSTED,SWITZERLAND,GENEVA,SWISS AIRLINES,3,0.000000,0.000000
3042,5/8/2017 4:19:59 PM,STANSTED,SWITZERLAND,GENEVA,THOMSON AIRWAYS LTD,8,0.000000,0.000000
3043,5/8/2017 4:19:59 PM,STANSTED,SWITZERLAND,ZURICH,SWISS AIRLINES,2,0.000000,0.000000
3044,5/8/2017 4:19:59 PM,STANSTED,TURKEY,ANTALYA,FREEBIRD AIRLINES,8,0.000000,0.000000
3045,5/8/2017 4:19:59 PM,STANSTED,TURKEY,ANTALYA,THOMAS COOK AIRLINES LTD,0,0.000000,0.000000
3046,5/8/2017 4:19:59 PM,STANSTED,TURKEY,ISTANBUL,ATLASJET INTERNATIONAL,56,0.000000,0.000000
3047,5/8/2017 4:19:59 PM,STANSTED,TURKEY,ISTANBUL (SABIHA GOKCEN),PEGASUS AIRLINES,113,0.000000,0.000000
3048,5/8/2017 4:19:59 PM,STANSTED,TURKEY,IZMIR (ADNAN MENDERES),FREEBIRD AIRLINES,6,0.000000,0.000000
3049,5/8/2017 4:19:59 PM,STANSTED,TURKEY,IZMIR (ADNAN MENDERES),PEGASUS AIRLINES,24,0.000000,0.000000
3050,5/8/2017 4:19:59 PM,STANSTED,UNITED KINGDOM,BELFAST INTERNATIONAL,EASYJET AIRLINE COMPANY LTD,230,0.000000,0.000000
3051,5/8/2017 4:19:59 PM,STANSTED,UNITED KINGDOM,CITY OF DERRY (EGLINTON),RYANAIR,48,0.000000,0.000000
3052,5/8/2017 4:19:59 PM,STANSTED,UNITED KINGDOM,DUNDEE,LOGANAIR LTD,86,3.488372,0.000000
3053,5/8/2017 4:19:59 PM,STANSTED,UNITED KINGDOM,DURHAM TEES VALLEY,CITY JET,1,0.000000,0.000000
3054,5/8/2017 4:19:59 PM,STANSTED,UNITED KINGDOM,EDINBURGH,EASYJET AIRLINE COMPANY LTD,208,0.961538,0.480769
3055,5/8/2017 4:19:59 PM,STANSTED,UNITED KINGDOM,EDINBURGH,RYANAIR,200,0.000000,0.000000
3056,5/8/2017 4:19:59 PM,STANSTED,UNITED KINGDOM,GLASGOW,BA CITYFLYER LTD,1,0.000000,0.000000
3057,5/8/2017 4:19:59 PM,STANSTED,UNITED KINGDOM,GLASGOW,EASYJET AIRLINE COMPANY LTD,144,2.083333,0.000000
3058,5/8/2017 4:19:59 PM,STANSTED,UNITED KINGDOM,GLASGOW,RYANAIR,143,0.000000,0.000000
3059,5/8/2017 4:19:59 PM,STANSTED,UNITED KINGDOM,GUERNSEY,AURIGNY AIR SERVICES,26,0.000000,0.000000
3060,5/8/2017 4:19:59 PM,STANSTED,UNITED KINGDOM,ISLE OF MAN,FLYBE LTD,0,0.000000,0.000000
3061,5/8/2017 4:19:59 PM,STANSTED,UNITED KINGDOM,LONDON CITY,SWISS AIRLINES,1,0.000000,0.000000
3062,5/8/2017 4:19:59 PM,STANSTED,UNITED KINGDOM,NEWCASTLE,LOGANAIR LTD,0,0.000000,0.000000

## 4) Read in a list of European airlines, for comparing against

This list, which you'll need to download and link to, contains a csv with a list of airlines headquartered in the UK. Using this you'll be able add a column that checks whether a row contains that airline and says 'Yes' or 'No' accordingly.

In [7]:
airlines = pd.read_csv("C:/users/ryan/projects/finalproject/other/airlines.csv", header=None)

In [8]:
euairlines = []

for row in df['airline_name']:
    if row in airlines:
        euairlines.append('Yes')
    else:
        euairlines.append('No')
        
df['EU airline?'] = euairlines

## 5) Calculate the total number of flights delayed by more than 3 hours

This will calculate the total number of flights delayed by over 3 hours, by multiplying the percentages in the applicable columns by the total of matched flights.

In [9]:
totalflights = 0
matrix = master.as_matrix()
no_of_flights = 0
for row in range(len(master)):
    no_of_flights += matrix[row][7]
    
    percent = (matrix[row][13]+matrix[row][14])/100
    delays = matrix[row][7]*percent
    totalflights += delays
    
prop = (totalflights/no_of_flights)*100
print no_of_flights, totalflights, prop

20727449 145209.0 0.700563778978

## 6) Calculate totals of delays by year

First add a month and year column to the df, then split the main dataframe into seperate dataframes by year.

In [52]:
df['date'] = pd.to_datetime(df['run_date'])
df['year'], df['month'] = df['date'].dt.year, df['date'].dt.month

,run_date,reporting_period,reporting_airport,origin_destination_country,origin_destination,airline_name,scheduled_charter,number_flights_matched,actual_flights_unmatched,early_to_15_mins_late_percent,...,flts_181_to_360_mins_late_percent,more_than_360_mins_late_percent,average_delay_mins,planned_flights_unmatched,previous_year_month_flights_matched,previous_year_month_early_to_15_mins_late_percent,previous_year_month_average_delay,date,year,month
0,13-Apr-2004 11:04,200401,BIRMINGHAM,AUSTRIA,INNSBRUCK,FIRST CHOICE AIRWAYS LTD,C,10,0,10.000000,...,0.000000,0.000000,37.300000,0,8,62.500000,16.875000,2004-04-13 11:04:00,2004,4
1,13-Apr-2004 11:04,200401,BIRMINGHAM,AUSTRIA,SALZBURG,BRITANNIA AIRWAYS,C,9,0,77.777778,...,0.000000,0.000000,19.111111,0,8,62.500000,37.500000,2004-04-13 11:04:00,2004,4
2,13-Apr-2004 11:04,200401,BIRMINGHAM,AUSTRIA,SALZBURG,EUROPEAN AIR CHARTER,C,10,0,80.000000,...,0.000000,0.000000,13.800000,0,0,0.000000,0.000000,2004-04-13 11:04:00,2004,4
3,13-Apr-2004 11:04,200401,BIRMINGHAM,AUSTRIA,SALZBURG,FIRST CHOICE AIRWAYS LTD,C,0,0,0.000000,...,0.000000,0.000000,0.000000,0,8,87.500000,3.500000,2004-04-13 11:04:00,2004,4
4,13-Apr-2004 11:04,200401,BIRMINGHAM,AUSTRIA,SALZBURG,FLYBE.BRITISH EUROPEAN,S,61,0,63.934426,...,3.278689,0.000000,26.721311,1,0,0.000000,0.000000,2004-04-13 11:04:00,2004,4
5,13-Apr-2004 11:04,200401,BIRMINGHAM,AUSTRIA,SALZBURG,THOMAS COOK AIRLINES LTD,C,10,0,70.000000,...,0.000000,0.000000,12.900000,0,8,87.500000,6.625000,2004-04-13 11:04:00,2004,4
6,13-Apr-2004 11:04,200401,BIRMINGHAM,AUSTRIA,VIENNA,DUO AIRWAYS LTD,S,60,0,85.000000,...,1.666667,0.000000,11.783333,2,62,79.032258,10.354839,2004-04-13 11:04:00,2004,4
7,13-Apr-2004 11:04,200401,BIRMINGHAM,BARBADOS,BRIDGETOWN,BRITANNIA AIRWAYS,C,4,0,75.000000,...,0.000000,0.000000,24.000000,0,1,100.000000,7.000000,2004-04-13 11:04:00,2004,4
8,13-Apr-2004 11:04,200401,BIRMINGHAM,BELGIUM,ANTWERP,VLM (BELGIUM),C,0,0,0.000000,...,0.000000,0.000000,0.000000,0,2,50.000000,47.500000,2004-04-13 11:04:00,2004,4
9,13-Apr-2004 11:04,200401,BIRMINGHAM,BELGIUM,BRUSSELS,FLYBE.BRITISH EUROPEAN,S,0,0,0.000000,...,0.000000,0.000000,0.000000,0,179,86.592179,9.905028,2004-04-13 11:04:00,2004,4
10,13-Apr-2004 11:04,200401,BIRMINGHAM,BELGIUM,BRUSSELS,SN BRUSSELS AIRLINES,S,229,0,93.449782,...,0.000000,0.000000,4.401747,23,267,82.022472,7.958801,2004-04-13 11:04:00,2004,4
11,13-Apr-2004 11:04,200401,BIRMINGHAM,BULGARIA,SOFIA,EUROPEAN AIR CHARTER,C,10,0,100.000000,...,0.000000,0.000000,1.400000,0,8,87.500000,5.375000,2004-04-13 11:04:00,2004,4
12,13-Apr-2004 11:04,200401,BIRMINGHAM,CANADA,TORONTO,FIRST CHOICE AIRWAYS LTD,C,0,0,0.000000,...,0.000000,0.000000,0.000000,0,2,0.000000,35.500000,2004-04-13 11:04:00,2004,4
13,13-Apr-2004 11:04,200401,BIRMINGHAM,CANADA,TORONTO,PAKISTAN INTL AIRLINES,S,26,0,46.153846,...,3.846154,7.692308,73.346154,0,18,33.333333,180.833333,2004-04-13 11:04:00,2004,4
14,13-Apr-2004 11:04,200401,BIRMINGHAM,CHILE,SANTIAGO DE CHILE,BRITANNIA AIRWAYS,C,1,0,0.000000,...,0.000000,0.000000,45.000000,0,0,0.000000,0.000000,2004-04-13 11:04:00,2004,4
15,13-Apr-2004 11:04,200401,BIRMINGHAM,CYPRUS,LARNACA,CYPRUS AIRWAYS,S,8,0,75.000000,...,0.000000,0.000000,12.250000,0,8,50.000000,16.875000,2004-04-13 11:04:00,2004,4
16,13-Apr-2004 11:04,200401,BIRMINGHAM,CYPRUS,LARNACA,EUROCYPRIA AIRLINES LTD,C,2,0,0.000000,...,100.000000,0.000000,206.500000,0,2,0.000000,39.000000,2004-04-13 11:04:00,2004,4
17,13-Apr-2004 11:04,200401,BIRMINGHAM,CYPRUS,PAPHOS,BRITANNIA AIRWAYS,C,7,0,85.714286,...,0.000000,0.000000,25.571429,0,9,77.777778,5.777778,2004-04-13 11:04:00,2004,4
18,13-Apr-2004 11:04,200401,BIRMINGHAM,CYPRUS,PAPHOS,EUROCYPRIA AIRLINES LTD,C,2,0,50.000000,...,0.000000,0.000000,11.000000,0,2,50.000000,13.000000,2004-04-13 11:04:00,2004,4
19,13-Apr-2004 11:04,200401,BIRMINGHAM,CYPRUS,PAPHOS,FIRST CHOICE AIRWAYS LTD,S,7,0,100.000000,...,0.000000,0.000000,0.000000,1,10,90.000000,4.000000,2004-04-13 11:04:00,2004,4
20,13-Apr-2004 11:04,200401,BIRMINGHAM,CYPRUS,PAPHOS,HELIOS AIRWAYS LTD,C,0,0,0.000000,...,0.000000,0.000000,0.000000,0,2,0.000000,179.500000,2004-04-13 11:04:00,2004,4
21,13-Apr-2004 11:04,200401,BIRMINGHAM,CYPRUS,PAPHOS,HELIOS AIRWAYS LTD,S,10,0,80.000000,...,0.000000,0.000000,7.000000,0,0,0.000000,0.000000,2004-04-13 11:04:00,2004,4
22,13-Apr-2004 11:04,200401,BIRMINGHAM,CZECH REPUBLIC,PRAGUE,CSA,S,48,3,81.250000,...,0.000000,0.000000,10.395833,2,49,89.795918,9.408163,2004-04-13 11:04:00,2004,4
23,13-Apr-2004 11:04,200401,BIRMINGHAM,DENMARK,COPENHAGEN,DUO AIRWAYS LTD,S,120,1,73.333333,...,4.166667,0.000000,26.208333,7,135,77.777778,14.170370,2004-04-13 11:04:00,2004,4
24,13-Apr-2004 11:04,200401,BIRMINGHAM,DENMARK,COPENHAGEN,SAS,S,94,0,78.723404,...,0.000000,0.000000,12.319149,6,104,74.038462,22.663462,2004-04-13 11:04:00,2004,4
25,13-Apr-2004 11:04,200401,BIRMINGHAM,FINLAND,HELSINKI,DUO AIRWAYS LTD,S,43,0,74.418605,...,2.325581,0.000000,22.209302,5,0,0.000000,0.000000,2004-04-13 11:04:00,2004,4
26,13-Apr-2004 11:04,200401,BIRMINGHAM,FINLAND,KITTILA,EUROPEAN AIR CHARTER,C,7,0,28.571429,...,0.000000,0.000000,33.857143,0,6,100.000000,2.333333,2004-04-13 11:04:00,2004,4
27,13-Apr-2004 11:04,200401,BIRMINGHAM,FINLAND,KITTILA,FUTURA AIRLINES,C,0,0,0.000000,...,0.000000,0.000000,0.000000,0,2,50.000000,489.500000,2004-04-13 11:04:00,2004,4
28,13-Apr-2004 11:04,200401,BIRMINGHAM,FRANCE,BEAUVAIS,MY TRAVEL AIRWAYS UK,S,0,0,0.000000,...,0.000000,0.000000,0.000000,0,99,94.949495,4.565657,2004-04-13 11:04:00,2004,4
29,13-Apr-2004 11:04,200401,BIRMINGHAM,FRANCE,BORDEAUX,DUO AIRWAYS LTD,S,0,0,0.000000,...,0.000000,0.000000,0.000000,0,22,81.818182,9.727273,2004-04-13 11:04:00,2004,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3033,5/8/2017 4:19:59 PM,201702,STANSTED,SPAIN(CANARY ISLANDS),TENERIFE (SURREINA SOFIA),THOMSON AIRWAYS LTD,C,18,0,72.222222,...,0.000000,11.111111,53.444440,0,16,62.500000,16.312500,2017-05-08 16:19:59,2017,5
3034,5/8/2017 4:19:59 PM,201702,STANSTED,SWEDEN,GOTEBORG (LANDVETTER),RYANAIR,S,72,0,54.166667,...,1.388889,0.000000,23.125000,0,150,79.333333,8.100000,2017-05-08 16:19:59,2017,5
3035,5/8/2017 4:19:59 PM,201702,STANSTED,SWEDEN,GOTEBORG (LANDVETTER),SAS,S,0,0,0.000000,...,0.000000,0.000000,0.000000,0,42,92.857143,3.976190,2017-05-08 16:19:59,2017,5
3036,5/8/2017 4:19:59 PM,201702,STANSTED,SWEDEN,STOCKHOLM (SKAVSTA),RYANAIR,S,96,0,75.000000,...,0.000000,0.000000,10.739580,0,134,70.149254,14.462687,2017-05-08 16:19:59,2017,5
3037,5/8/2017 4:19:59 PM,201702,STANSTED,SWEDEN,VASTERAS,RYANAIR,S,28,0,67.857143,...,0.000000,0.000000,11.678570,0,34,76.470588,7.470588,2017-05-08 16:19:59,2017,5
3038,5/8/2017 4:19:59 PM,201702,STANSTED,SWITZERLAND,BALE MULHOUSE,RYANAIR,S,40,0,67.500000,...,0.000000,0.000000,15.225000,0,58,74.137931,11.068966,2017-05-08 16:19:59,2017,5
3039,5/8/2017 4:19:59 PM,201702,STANSTED,SWITZERLAND,GENEVA,EASYJET AIRLINE COMPANY LTD,S,112,0,80.357143,...,0.892857,0.000000,10.223210,0,116,73.275862,17.353448,2017-05-08 16:19:59,2017,5
3040,5/8/2017 4:19:59 PM,201702,STANSTED,SWITZERLAND,GENEVA,ENTER AIR,C,2,0,0.000000,...,0.000000,0.000000,43.000000,0,0,0.000000,0.000000,2017-05-08 16:19:59,2017,5
3041,5/8/2017 4:19:59 PM,201702,STANSTED,SWITZERLAND,GENEVA,SWISS AIRLINES,S,3,0,66.666667,...,0.000000,0.000000,13.666670,0,0,0.000000,0.000000,2017-05-08 16:19:59,2017,5
3042,5/8/2017 4:19:59 PM,201702,STANSTED,SWITZERLAND,GENEVA,THOMSON AIRWAYS LTD,C,8,0,75.000000,...,0.000000,0.000000,8.625000,0,0,0.000000,0.000000,2017-05-08 16:19:59,2017,5
3043,5/8/2017 4:19:59 PM,201702,STANSTED,SWITZERLAND,ZURICH,SWISS AIRLINES,S,2,0,50.000000,...,0.000000,0.000000,26.500000,0,0,0.000000,0.000000,2017-05-08 16:19:59,2017,5
3044,5/8/2017 4:19:59 PM,201702,STANSTED,TURKEY,ANTALYA,FREEBIRD AIRLINES,C,8,0,87.500000,...,0.000000,0.000000,5.750000,0,0,0.000000,0.000000,2017-05-08 16:19:59,2017,5
3045,5/8/2017 4:19:59 PM,201702,STANSTED,TURKEY,ANTALYA,THOMAS COOK AIRLINES LTD,C,0,0,0.000000,...,0.000000,0.000000,0.000000,0,6,100.000000,7.000000,2017-05-08 16:19:59,2017,5
3046,5/8/2017 4:19:59 PM,201702,STANSTED,TURKEY,ISTANBUL,ATLASJET INTERNATIONAL,S,56,0,85.714286,...,0.000000,0.000000,6.535710,0,0,0.000000,0.000000,2017-05-08 16:19:59,2017,5
3047,5/8/2017 4:19:59 PM,201702,STANSTED,TURKEY,ISTANBUL (SABIHA GOKCEN),PEGASUS AIRLINES,S,113,0,58.407080,...,0.000000,0.000000,17.017700,0,115,44.347826,30.913043,2017-05-08 16:19:59,2017,5
3048,5/8/2017 4:19:59 PM,201702,STANSTED,TURKEY,IZMIR (ADNAN MENDERES),FREEBIRD AIRLINES,C,6,0,50.000000,...,0.000000,0.000000,27.000000,0,0,0.000000,0.000000,2017-05-08 16:19:59,2017,5
3049,5/8/2017 4:19:59 PM,201702,STANSTED,TURKEY,IZMIR (ADNAN MENDERES),PEGASUS AIRLINES,S,24,0,75.000000,...,0.000000,0.000000,12.083330,0,16,93.750000,3.562500,2017-05-08 16:19:59,2017,5
3050,5/8/2017 4:19:59 PM,201702,STANSTED,UNITED KINGDOM,BELFAST INTERNATIONAL,EASYJET AIRLINE COMPANY LTD,S,230,0,79.130435,...,0.000000,0.000000,12.743480,0,234,82.905983,8.111111,2017-05-08 16:19:59,2017,5
3051,5/8/2017 4:19:59 PM,201702,STANSTED,UNITED KINGDOM,CITY OF DERRY (EGLINTON),RYANAIR,S,48,0,87.500000,...,0.000000,0.000000,7.750000,0,74,91.891892,3.621622,2017-05-08 16:19:59,2017,5
3052,5/8/2017 4:19:59 PM,201702,STANSTED,UNITED KINGDOM,DUNDEE,LOGANAIR LTD,S,86,0,75.581395,...,3.488372,0.000000,23.046510,0,90,91.111111,7.500000,2017-05-08 16:19:59,2017,5
3053,5/8/2017 4:19:59 PM,201702,STANSTED,UNITED KINGDOM,DURHAM TEES VALLEY,CITY JET,C,1,0,0.000000,...,0.000000,0.000000,44.000000,0,0,0.000000,0.000000,2017-05-08 16:19:59,2017,5
3054,5/8/2017 4:19:59 PM,201702,STANSTED,UNITED KINGDOM,EDINBURGH,EASYJET AIRLINE COMPANY LTD,S,208,0,67.788462,...,0.961538,0.480769,19.432690,0,214,79.906542,9.761682,2017-05-08 16:19:59,2017,5
3055,5/8/2017 4:19:59 PM,201702,STANSTED,UNITED KINGDOM,EDINBURGH,RYANAIR,S,200,0,71.500000,...,0.000000,0.000000,12.895000,0,266,86.842105,8.842105,2017-05-08 16:19:59,2017,5
3056,5/8/2017 4:19:59 PM,201702,STANSTED,UNITED KINGDOM,GLASGOW,BA CITYFLYER LTD,S,1,0,0.000000,...,0.000000,0.000000,22.000000,0,0,0.000000,0.000000,2017-05-08 16:19:59,2017,5
3057,5/8/2017 4:19:59 PM,201702,STANSTED,UNITED KINGDOM,GLASGOW,EASYJET AIRLINE COMPANY LTD,S,144,0,73.611111,...,2.083333,0.000000,18.972220,0,150,86.000000,5.746667,2017-05-08 16:19:59,2017,5
3058,5/8/2017 4:19:59 PM,201702,STANSTED,UNITED KINGDOM,GLASGOW,RYANAIR,S,143,0,72.727273,...,0.000000,0.000000,12.923080,0,216,82.407407,6.671296,2017-05-08 16:19:59,2017,5
3059,5/8/2017 4:19:59 PM,201702,STANSTED,UNITED KINGDOM,GUERNSEY,AURIGNY AIR SERVICES,S,26,0,76.923077,...,0.000000,0.000000,10.615380,0,32,93.750000,2.156250,2017-05-08 16:19:59,2017,5
3060,5/8/2017 4:19:59 PM,201702,STANSTED,UNITED KINGDOM,ISLE OF MAN,FLYBE LTD,S,0,0,0.000000,...,0.000000,0.000000,0.000000,0,146,90.410959,4.575342,2017-05-08 16:19:59,2017,5
3061,5/8/2017 4:19:59 PM,201702,STANSTED,UNITED KINGDOM,LONDON CITY,SWISS AIRLINES,S,1,0,100.000000,...,0.000000,0.000000,10.000000,0,0,0.000000,0.000000,2017-05-08 16:19:59,2017,5
3062,5/8/2017 4:19:59 PM,201702,STANSTED,UNITED KINGDOM,NEWCASTLE,LOGANAIR LTD,S,0,0,0.000000,...,0.000000,0.000000,0.000000,0,42,95.238095,2.833333,2017-05-08 16:19:59,2017,5

In [11]:
df2004 = df[df.year == 2004]
df2005 = df[df.year == 2005]
df2006 = df[df.year == 2006]
df2007 = df[df.year == 2007]
df2008 = df[df.year == 2008]
df2009 = df[df.year == 2009]
df2010 = df[df.year == 2010]
df2011 = df[df.year == 2011]
df2012 = df[df.year == 2012]
df2013 = df[df.year == 2013]
df2014 = df[df.year == 2014]
df2015 = df[df.year == 2015]
df2016 = df[df.year == 2016]
df2017 = df[df.year == 2017]

In [ ]:
totalflightsa = 0
totalflightsb = 0
totalflightsc = 0
matrix = df2016.as_matrix()
no_of_flights = 0
for row in range(len(df2016)):
    no_of_flights += matrix[row][7]
    percenta = (matrix[row][10]+matrix[row][11])/100
    percentb = (matrix[row][12])/100
    percentc = (matrix[row][13]+matrix[row][14])/100
    delaysa = matrix[row][7]*percenta
    delaysb = matrix[row][7]*percentb
    delaysc = matrix[row][7]*percentc
    totalflightsa += delaysa
    totalflightsb += delaysb
    totalflightsc += delaysc
    
print no_of_flights, totalflightsa, totalflightsb, totalflightsc,

## 7) Calculate the number of delays by reporting airport

Apply the same process by airport, would be good to do this programatically - this currently requires writing each one out!

In [13]:
airports = df.reporting_airport.unique()

In [36]:
dfBIRMINGHAM = df[df.reporting_airport == 'BIRMINGHAM' ]
dfEDINBURGH = df[df.reporting_airport == 'EDINBURGH' ]
dfGLASGOW = df[df.reporting_airport == 'GLASGOW' ]
dfGATWICK = df[df.reporting_airport == 'GATWICK' ]
dfHEATHROW = df[df.reporting_airport == 'HEATHROW' ]
dfLONDONCITY = df[df.reporting_airport == 'LONDON CITY' ]
dfLUTON = df[df.reporting_airport == 'LUTON' ]
dfMANCHESTER = df[df.reporting_airport == 'MANCHESTER' ]
dfNEWCASTLE = df[df.reporting_airport == 'NEWCASTLE' ]
dfSTANSTED = df[df.reporting_airport == 'STANSTED' ]
dfABERDEEN = df[df.reporting_airport == 'ABERDEEN' ]
dfBELFASTCITY = df[df.reporting_airport == 'BELFAST CITY (GEORGE BEST)' ]
dfBELFASTINTERNATIONAL = df[df.reporting_airport == 'BELFAST INTERNATIONAL' ]
dfBOURNEMOUTH = df[df.reporting_airport == 'BOURNEMOUTH' ]
dfBRISTOL = df[df.reporting_airport == 'BRISTOL' ]
dfCARDIFFWALES = df[df.reporting_airport == 'CARDIFF WALES' ]
dfDONCASTERSHEFFIELD = df[df.reporting_airport == 'DONCASTER SHEFFIELD' ]
dfDURHAMTEESVALLEY = df[df.reporting_airport == 'DURHAM TEES VALLEY' ]
dfEASTMIDLANDSINTERNATIONAL = df[df.reporting_airport == 'EAST MIDLANDS INTERNATIONAL' ]
dfEXETER = df[df.reporting_airport == 'EXETER' ]
dfJERSEY = df[df.reporting_airport == 'JERSEY' ]
dfLEEDSBRADFORD = df[df.reporting_airport == 'LEEDS BRADFORD' ]
dfLIVERPOOL= df[df.reporting_airport == 'LIVERPOOL (JOHN LENNON)' ]
dfSOUTHAMPTON = df[df.reporting_airport == 'SOUTHAMPTON' ]
dfSOUTHEND = df[df.reporting_airport == 'SOUTHEND' ]

In [ ]:
totalaverage = 0
matrix = dfSOUTHEND.as_matrix()
for row in range(len(dfSOUTHEND)):
    
    average = (matrix[row][15])
    totalaverage += average
    final = totalaverage/len(dfSOUTHEND)
    
print final

## 8) Calculate the number of delays by airline
Apply the same process by airport, would be good to do this programatically - this currently requires writing each one out!

In [15]:
airlines = df.airline_name.unique()

In [24]:
dfRYANAIR = df[df.airline_name == 'RYANAIR' ]
dfFLYBE = df[df.airline_name == 'FLYBE.BRITISH EUROPEAN' ]
dfBA = df[df.airline_name == 'BRITISH AIRWAYS PLC' ]
dfEASYJET = df[df.airline_name == 'EASYJET AIRLINE COMPANY LTD' ]
dfTHOMASCOOK = df[df.airline_name == 'THOMAS COOK AIRLINES LTD' ]
dfJET2 = df[df.airline_name == 'JET2.COM LTD' ]
dfMONARCH = df[df.airline_name == 'MONARCH AIRLINES' ]
dfTHOMSON = df[df.airline_name == 'THOMSON AIRWAYS LTD' ]
dfVIRGIN = df[df.airline_name == 'VIRGIN ATLANTIC AIRWAYS LTD' ]
dfEASTERN = df[df.airline_name == 'EASTERN AIRWAYS' ]

In [34]:
totalflights = 0
matrix = dfEASTERN.as_matrix()
no_of_flights = 0
for row in range(len(dfEASTERN)):
    no_of_flights += matrix[row][7]
    percent = (matrix[row][13]+matrix[row][14])/100
    delays = matrix[row][7]*percent
    totalflights += delays
    
prop = (totalflights/no_of_flights)*100
print no_of_flights, totalflights, prop

179410 895.999999997 0.49941474834

## 9) Calculate the number of flights by year for specific airports
Work out the total number of flights over three hours for airports around London.

In [53]:
df = df[["month", "year", "reporting_airport", "number_flights_matched", "flts_181_to_360_mins_late_percent", "more_than_360_mins_late_percent"]]

In [54]:
df['over_3_hours'] = df['flts_181_to_360_mins_late_percent'] + df['more_than_360_mins_late_percent']

C:\Users\Ryan\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [55]:
df['flights'] = df['number_flights_matched']*(df['over_3_hours']/100)

C:\Users\Ryan\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [56]:
df = df[["month", "year", "reporting_airport", "flights"]]

In [57]:
dfGATWICK = df[df.reporting_airport == 'GATWICK' ]
dfHEATHROW = df[df.reporting_airport == 'HEATHROW' ]
dfLONDONCITY = df[df.reporting_airport == 'LONDON CITY' ]
dfLUTON = df[df.reporting_airport == 'LUTON' ]
dfSTANSTED = df[df.reporting_airport == 'STANSTED' ]

In [68]:
dfSTANSTED = dfSTANSTED.groupby(['month', 'year', 'reporting_airport'])['flights'].sum().reset_index()

In [59]:
dfGATWICK

     month  year reporting_airport  flights
0        1  2005           GATWICK    163.0
1        1  2006           GATWICK    374.0
2        1  2007           GATWICK    355.0
3        1  2008           GATWICK    113.0
4        1  2009           GATWICK    348.0
5        1  2011           GATWICK    157.0
6        1  2012           GATWICK     57.0
7        1  2013           GATWICK    177.0
8        1  2016           GATWICK    381.0
9        2  2005           GATWICK     79.0
10       2  2008           GATWICK    510.0
11       2  2009           GATWICK    361.0
12       2  2011           GATWICK    788.0
13       2  2012           GATWICK     95.0
14       2  2013           GATWICK    123.0
15       2  2017           GATWICK     77.0
16       3  2005           GATWICK    144.0
17       3  2006           GATWICK    175.0
18       3  2007           GATWICK    426.0
19       3  2008           GATWICK    192.0
20       3  2009           GATWICK    155.0
21       3  2010           GATWICK    521.0
22       3  2012           GATWICK   1142.0
23       3  2013           GATWICK    321.0
24       3  2014           GATWICK    235.0
25       3  2016           GATWICK     95.0
26       3  2017           GATWICK   2273.0
27       4  2004           GATWICK    151.0
28       4  2006           GATWICK    294.0
29       4  2008           GATWICK    163.0
..     ...   ...               ...      ...
75       9  2014           GATWICK    390.0
76       9  2015           GATWICK    362.0
77      10  2004           GATWICK    246.0
78      10  2005           GATWICK    374.0
79      10  2006           GATWICK    362.0
80      10  2007           GATWICK    421.0
81      10  2008           GATWICK    511.0
82      10  2010           GATWICK    330.0
83      10  2012           GATWICK    181.0
84      10  2013           GATWICK    158.0
85      10  2014           GATWICK     56.0
86      10  2015           GATWICK    242.0
87      11  2004           GATWICK    316.0
88      11  2005           GATWICK    432.0
89      11  2006           GATWICK    644.0
90      11  2007           GATWICK    694.0
91      11  2008           GATWICK    353.0
92      11  2010           GATWICK    360.0
93      11  2012           GATWICK    188.0
94      11  2014           GATWICK    186.0
95      12  2004           GATWICK    274.0
96      12  2005           GATWICK    325.0
97      12  2006           GATWICK    312.0
98      12  2007           GATWICK    215.0
99      12  2010           GATWICK    176.0
100     12  2011           GATWICK    152.0
101     12  2012           GATWICK    162.0
102     12  2013           GATWICK    118.0
103     12  2014           GATWICK    436.0
104     12  2015           GATWICK    208.0

[105 rows x 4 columns]

In [72]:
dfLONDONCITY.to_csv('city.csv')